.canvas {
  height: 100vh;
  box-sizing: border-box;
  padding: 24px;
  background: #171717;
  border-left: 1px solid #2a2a2a;
  position: relative;
}
.g-drop-target {
  flex-direction: column;
  min-height: 100%;
  border: 2px dashed #333;
  background: #121212;
  padding: 16px;
  border-radius: 12px;
  position: relative;
  transition: outline 0.15s ease;
}
.g-hover {
  border: 2px dashed #7c3aed;
  outline-offset: 4px;
}
.node {
  border: 1px solid #2a2a2a;
  padding: 12px;
  border-radius: 10px;
  margin: 8px 0;
  background: #0b0b0b;
  transition: outline 0.15s ease;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
  background: #0f172a;
  cursor: pointer;
}

.img-content {
  max-width: 100%;
  border-radius: 10px;
}
/* highlight insert position */
.g-insert-before {
  border: 1px dashed #7c3aed;
  outline-offset: -20px;
  box-shadow: 0px -15px 0px -10px #3b82f6;
  transition: all 0.15s ease;
  animation: insertTopPulse 500ms infinite;
}
.g-insert-after {
  border: 1px dashed #7c3aed;
  outline-offset: -20px;
  box-shadow: 0px 15px 0px -10px #3b82f6;
  transition: all 0.15s ease;
  animation: insertButtomPulse 500ms infinite;
}

@keyframes insertButtomPulse {
  0% { box-shadow: 0px 10px 0px -10px #bb3bf6; }
  50% { box-shadow: 0px 15px 0px -10px #3b82f6; }
  100% { box-shadow: 0px 10px 0px -10px #7c3aed; }
}

@keyframes insertTopPulse {
  0% { box-shadow: 0px -10px 0px -10px #bb3bf6; }
  50% { box-shadow: 0px -15px 0px -10px #3b82f6; }
  100% { box-shadow: 0px -10px 0px -10px #7c3aed; }
}
