.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 1rem;
  background-color: var(--background-nav);
  border-bottom: 1px solid var(--gray-lt-alpha-100);
  text-transform: capitalize;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  width: 150px;
  text-align: center;
  color: white;
  background: var(--normal-preset);
  padding: 10px 16px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
  margin-right: 8px;
  transition: all 0.3s ease;
}

.button-text:hover {
  background: var(--hover-preset);
  width: 250px;
  transition: all 0.3s ease;
}

.logo {
  width: 150px;
  height: 80px;
  background-image: url('/assets/images/logo/wachiii.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin: 0 1rem;

}

.menu-list li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
