.inspector-container {
  position: absolute;
  top: 0;
  right: -350px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: calc(100vh - 60px);
  background-color: var(--gray-lt-alpha-100);
  padding: 16px;
  transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.inspector-container.open {
  right: 0;
}

.props-list {
  margin-top: 4px;
}

.methods-list {
  margin-top: 24px;
  border-top-style: dashed;
  border-top-color: var(--foreground);
  border-top-width: 0.1px;
  padding-top: 4px;
}

.close-inspector {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
}
